body {
    background: #005C97;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #363795, #005C97);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #363795, #005C97);
}

.card {
    border: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-header {
    background-color: #fff;
}

.card-header h4 {
    margin-bottom: 0;
    color: #464a4c;
}

@media only screen and (max-width: 320px) {
    body {
        font-size: 0.75em;
    }
}