.navbar {
    box-shadow: 0   2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    background-color: #fff  ;
}

@media only screen and (min-width: 992px) {
    .nav-link.current{
        border-bottom: solid #0084ff 3px;
        margin-bottom: -3px;
        padding-bottom: 2px;
    }
}